.stats-typing {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: .5rem;
    width: 45%;
    margin-bottom: 2rem;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .stat-icon {
    color: #9494a9;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
    border: 0;
    display: inline-block;
  }
  
  
  .card-header h2 {
    margin: 0;
    text-decoration: none;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: rgb(104, 104, 210);
  }
  
  .card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #747272;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    transition: transform 0.3s, color 0.3s;
  }
  