footer {
    color: rgb(124, 124, 243);
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 3vh;
}

footer a {
    margin-left: 20px;
    text-decoration: none;
    color: #f7f7f7;
}

footer a:hover {
    color: rgb(124, 124, 243); /* Add a hover effect */
}

footer a svg {
    scale: 2; /* Scale the GitHub icon */
    vertical-align: middle; /* Align the GitHub icon vertically with the text */
}