.typing-input {
    display: flex;
    justify-content: center;
}

.typing-input input {
    margin-right: 10px;
    width: 8%;
    height: 100%;
    background: transperent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    padding: 0px 5px;
}

.typing-input input[type="checkbox"] {
    margin-left: 10px;
    width: 15px;
    height: 15px;
  }

.typing-input input::placeholder {
    color: rgb(14, 13, 13);
    font-family: 'Roboto', sans-serif;
    font-size: small;
}


.typing-input label {
    color: white;
}

.error-input {
    color: white;
    text-align: center;
  }