.container-typing {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    max-height: 75vh;
    font-family: Inconsolata, monospace;
    margin: 0; 
}

.wrapper-typing {
    background-color: #f7f7f7;
    padding: 1rem;
    border-radius: .5rem;
    width: 50%;
    margin-bottom: 2rem;
}

   
.wrapper-typing span {
    font-size: 24px;
}

.correct {
  color: rgb(97, 97, 196);
}

.incorrect {
  background-color: rgba(234, 24, 24, 0.295);
}

.current {
  background-color: rgba(90, 93, 93, 0.199);
}

.wrapper-typing p {
    display: inline;
    font-size: 20px;
    margin-right: 10px;
}

#start-button {
    scale: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background: rgb(97, 97, 196);
    color: rgb(250, 249, 249);
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
}

.accuracies {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.accuracies p {
  color: white;
}

#loading {
    text-align: center;
}

.loader {
  scale: 2;
  width: 50px;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 70deg,#0000 71deg 90deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: l5 1s infinite;
}
@keyframes l5 {to{transform: rotate(.5turn)}} 